<style>

/* color samples week 4
 * https://colors.lol/viscid
 * viscid light lime green: #B9FF66
 * built easter purple: #C071FE
 * longitudinal slate blue: #5B7C99
 * muttering dusty purple #825F87
 * 
*/
 
/* Force Landscape Mode, the real method */

#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

    @media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
    


        html {
            height: 100%;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
	
/* Define keyframes */
	
            @keyframes spinround {
           50% {transform: rotateY(-90deg);}
           }
            
            @keyframes spinround2 {
           50% {transform: rotateY(90deg);}
           }
		   
		   @keyframes spit {
		  50% {transform: rotateX(90deg);}
		   }
		   
		   @-webkit-keyframes blinker {  
		from { opacity: 1.0; }
		to { opacity: 0.0; }
		}
		

/* Define classes */		   

.outer-wrapper {
}

.content {
}
		

/* youtube container for intro & outro */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

/* Styling, etc */
				
          
			
			
			
			a:link {
			color:#47f7b0;
            text-decoration: none;
			}
			
			a:visited {
			color:#fcd40f;
			}
			
			a:hover {
			text-decoration: underline;
			}
			
			img {
                width: 100%;
            }
			
/* Define & style divs */    

   
    body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  width: 400vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
    
    
    
	</style>
